
# Cloudflare Tunnel Token
TUNNEL_TOKEN=eyJhIjoiZTA1MDllYmYzNzgyMWFjYzEzODBkNmFkOWVmMjAzNjciLCJ0IjoiNzJlNWFiNDQtNTU0Ny00ZGMzLTljMjItOWIwM2NmZjJjZTc4IiwicyI6Ik5UaG1aVEk0TWpZdFpEbGhZUzAwWkRVd0xXSTJOemN0TnpJME9XRTNPRGhrTldNeSJ9

# Feature flags
VIDEO_AI_ENABLED=false
